body{
	background: url('../img/gannam.jpg') no-repeat center center fixed;
	-webkit-background-size : contain;
	-moz-background-size : contain;
	background-size : cover;
	-o-background-size : cover;
}